@import "bootstrap.css";
@import "bootstrap-theme.css";
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/SourceSansPro-SemiBold.eot');
  src: url('../fonts/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
  url('../fonts/SourceSansPro-SemiBold.woff') format('woff'),
  url('../fonts/SourceSansPro-SemiBold.ttf') format('truetype'),
  url('../fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('../fonts/Quicksand-Bold.eot');
  src: url('../fonts/Quicksand-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Quicksand-Bold.woff2') format('woff2'),
  url('../fonts/Quicksand-Bold.woff') format('woff'),
  url('../fonts/Quicksand-Bold.ttf') format('truetype'),
  url('../fonts/Quicksand-Bold.svg#Quicksand-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url('../fonts/SourceSansPro-Bold.eot');
  src: url('../fonts/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
  url('../fonts/SourceSansPro-Bold.woff') format('woff'),
  url('../fonts/SourceSansPro-Bold.ttf') format('truetype'),
  url('../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url('../fonts/SourceSansPro-Regular.eot');
  src: url('../fonts/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
  url('../fonts/SourceSansPro-Regular.woff') format('woff'),
  url('../fonts/SourceSansPro-Regular.ttf') format('truetype'),
  url('../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Source Sans Pro-it';
  src: url('../fonts/SourceSansPro-It.woff2') format('woff2'),
  url('../fonts/SourceSansPro-It.woff') format('woff'),
  url('../fonts/SourceSansPro-It.ttf') format('truetype'),
  url('../fonts/SourceSansPro-It.svg#SourceSansPro-It') format('svg');
  font-weight: normal;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
}
header {
  background: url("../images/header_bg.png"), no-repeat;
  background-size: cover;
  margin-bottom: 65px;
  .navbar-collapse {
    border:none;
  }
  .nav_bottom {
    margin-bottom: 51px;
  }

  .navbar-default {
    border: none;
    background: none;

    .navbar-brand, .navbar-nav > li > a {
      margin-top: 42px;
    }

    .navbar-brand, .navbar-brand:hover {
      color: #ffffff;
      font-size: 24px;
      font-family: 'Quicksand-Bold', sans-serif;
    }

    .navbar-nav > li {
      margin: 0 12px 0;
      font-family: "Source Sans Pro", sans-serif;

      > a {
        color: #fffefe;
        font-size: 16px;

        &:after {
          height: 2px;
          display: block;
          background: url("../images/hover_menu.png"), no-repeat;
          background-size: cover;
          content: "";
          margin-top: 13px;
          width: 0;
          transition: 0.5s;
        }

        &:hover {
          color: #fffefe;

          &:after {
            width: 100%;
          }
        }
      }
    }
  }
.Phone {
  margin-top: 110px;
  width: 100%;
}
  .font_header {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
    padding-bottom: 110px;
    p {
      color : #999999;
      font-size: 18px;
      max-width: 480px;
      margin-bottom: 63px;
    }
    .THEME {
      color: #008ed6;
      font-size: 14px;
      margin: 40px 0 30px;
    }

    h1 {
      color: #ffffff;
      font-size: 48px;
      width: 100%;
      margin-bottom: 39px;
    }
    .blue {
      margin-left: 0;
    }
      a {
        padding: 19px 30px 19px;
        border:1px solid #454449;
        border-radius: 1px;
        margin: 0 10px;
        font-family: 'Source Sans Pro-Bold', sans-serif;
        font-size: 14px;
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        &:hover {
          padding: 21px 28px 20px;
          background-color:#008ed6;
          border: none;
        }
      }
  }
}
.List_sect {
  margin-bottom: 144px;
  .List_of {
    font-family: 'Source Sans Pro', Source Sans Pro-Bold, sans-serif;
    color: #1a1a1a;
    font-size: 36px;

    &:before {
      content: "PRODUCT OVERVIEW";
      color: #008ed6;
      font-size: 14px;
      display: block;
      margin-bottom: 22px;
    }

    &:after {
      content: url("../images/after_two.png");
      display: block;
      margin: 35px 0 73px;
    }
  }
  .for_img {
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border:solid 1px #e0e0e0;
    overflow: hidden;
    color: #008ed6;
    padding-top: 31px;
    font-size: 26px;
    box-sizing: border-box;
    margin-bottom: 34px;
  }
  h3 {
    color: #1a1a1a;
    font-size: 24px;
    margin-bottom: 18px;
  }
  h3,p{
    font-family: 'Source Sans Pro-Regular',SansSerif;
  }
  p {
    color: #999999;
    font-size: 18px;
  }
}
.Telephone .container .row div {
  .devices {
    width: 100%;
    margin: 0 55px 76px 0;
  }

  h2 {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
    color: #1a1a1a;
    font-size: 36px;
    padding-left: 3px;

    &:before {
      content: "DIP INTO THE DETAILS";
      display: block;
      color: #008ed6;
      font-size: 14px;
      margin-bottom: 22px;
      padding-left: -2px;
    }

    &:after {
      content: url("../images/after_two.png");
      display: block;
      margin: 34px 0 32px;
      padding-left: 0;
    }
  }

  p {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
    color: #999999;
    font-size: 18px;
    margin-bottom: 42px;
  }

  ul {
    .Cup:before {
      content: url("../images/Cup.png");
      display: inline-block;
      margin-right: 10px;
    }
    .Mouse:before {
      content: url("../images/Mouse.png");
      display: inline-block;
      margin-right: 14px;
    }
    .Energy:before {
      content: url("../images/Energy.png");
      display: inline-block;
      margin-right: 13px;
    }
    .Speed:before {
      content: url("../images/Speed.png");
      display: inline-block;
      margin-right: 10px;
    }
    li {
      margin-bottom: 18px;
      font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
      list-style-type: none;
      color: #1b1b1b;
      font-size: 18px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.Super_easy {
  background: url("../images/IPhone.png") no-repeat right #f2f2f2;
  background-size: contain;
  padding: 61px 0 65px;

  .container .row {
    .col-md-7 {
      img {
        width: 100%;
      }
    }
    .col-md-5 {
      h2, p {
        font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
      }

      h3 {
        color: #1a1a1a;
        font-size: 36px;
        margin: 70px 0 29px;

        &:before {
          color: #008ed6;
          font-size: 14px;
          content: "DIP INTO THE DETAILS";
          display: block;
          margin-bottom: 24px;
        }

        &:after {
          content: url("../images/after_two.png");
          display: block;
          margin-top: 29px;
        }
      }

      p {
        color: #999999;
        font-size: 18px;
      }

    }
  }
}
.Pricings .container-fluid .row {
  img {
    width: 100%;
  }

  .carousel-caption {
    top: 65px;
  }

  h3 {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Bold', sans-serif;
    color: #ffffff;
    font-size: 36px;

    &:before {
      content: "QUALITY HAS ITS PRICE";
      display: block;
      font-size: 14px;
      color: #008ed6;
      margin-bottom: 24px;
    }

    &:after {
      content: url("../images/after_two.png");
      display: block;
      margin-top: 29px;
    }
  }

  p {
    font-family: 'Source Sans Pro-it', SansSerif;
    color: #ffffff;
    font-size: 24px;
    margin-bottom: 31px;
  }

  .col-sm-6 img {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
  }

  h4 {
    display: inline-block;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
  }

  .John {
    margin-left: 24px;

    &:after {
      display: block;
      content: "CEO, THE RIVERS COMPANY";
      margin-top: 15px;
    }
  }

  .Dean {
    margin-left: 25px;
    &:after {
      display: block;
      content: "UX DESIGNER, GOOGLE INC.";
      margin-top: 16px;
    }
  }
  .carousel-indicators {
    .active {
      background-color: #ffffff;
      width: 14px;
      height: 14px;
      border: none;
      position: relative;
      bottom: -7px;
      margin: 0 7px 0;
    }
    li {
      width: 4px;
      height: 4px;
      margin: 0 11px 0;
      border-radius: 50px;
    }
  }
  carousel-inner {
    padding-bottom: 60px;
  }
}