@import url(bootstrap.css);
@import url(bootstrap-theme.css);
@font-face {
  font-family: 'Source Sans Pro';
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff2") format("woff2"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype"), url("../fonts/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Quicksand-Bold';
  src: url("../fonts/Quicksand-Bold.eot");
  src: url("../fonts/Quicksand-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff"), url("../fonts/Quicksand-Bold.ttf") format("truetype"), url("../fonts/Quicksand-Bold.svg#Quicksand-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro-Bold';
  src: url("../fonts/SourceSansPro-Bold.eot");
  src: url("../fonts/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype"), url("../fonts/SourceSansPro-Bold.svg#SourceSansPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Source Sans Pro-Regular';
  src: url("../fonts/SourceSansPro-Regular.eot");
  src: url("../fonts/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype"), url("../fonts/SourceSansPro-Regular.svg#SourceSansPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
* {
  padding: 0;
  margin: 0; }

header {
  background: url("../images/header_bg.png"), no-repeat;
  background-size: cover;
  margin-bottom: 65px; }
  header .nav_bottom {
    margin-bottom: 51px; }
  header .navbar-default {
    border: none;
    background: none; }
    header .navbar-default .navbar-brand, header .navbar-default .navbar-nav > li > a {
      margin-top: 42px; }
    header .navbar-default .navbar-brand, header .navbar-default .navbar-brand:hover {
      color: #ffffff;
      font-size: 24px;
      font-family: 'Quicksand-Bold', sans-serif; }
    header .navbar-default .navbar-nav > li {
      margin: 0 12px 0;
      font-family: "Source Sans Pro", sans-serif; }
      header .navbar-default .navbar-nav > li > a {
        color: #fffefe;
        font-size: 16px; }
        header .navbar-default .navbar-nav > li > a:after {
          height: 2px;
          display: block;
          background: url("../images/hover_menu.png"), no-repeat;
          background-size: cover;
          content: "";
          margin-top: 13px;
          width: 0;
          transition: 0.5s; }
        header .navbar-default .navbar-nav > li > a:hover {
          color: #fffefe; }
          header .navbar-default .navbar-nav > li > a:hover:after {
            width: 100%; }
  header .Phone {
    margin-top: 110px;
    width: 100%; }
  header .font_header {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
    padding-bottom: 110px; }
    header .font_header p {
      color: #999999;
      font-size: 18px;
      max-width: 480px;
      margin-bottom: 63px; }
    header .font_header .THEME {
      color: #008ed6;
      font-size: 14px;
      margin: 40px 0 30px; }
    header .font_header h1 {
      color: #ffffff;
      font-size: 48px;
      width: 100%;
      margin-bottom: 39px; }
    header .font_header .blue {
      margin-left: 0; }
    header .font_header a {
      padding: 19px 30px 19px;
      border: 1px solid #454449;
      border-radius: 1px;
      margin: 0 10px;
      font-family: 'Source Sans Pro-Bold', sans-serif;
      font-size: 14px;
      color: #ffffff;
      text-decoration: none;
      display: inline-block; }
      header .font_header a:hover {
        padding: 21px 28px 20px;
        background-color: #008ed6;
        border: none; }

.List_sect {
  margin-bottom: 144px; }
  .List_sect .List_of {
    font-family: 'Source Sans Pro', Source Sans Pro-Bold, sans-serif;
    color: #1a1a1a;
    font-size: 36px; }
    .List_sect .List_of:before {
      content: "PRODUCT OVERVIEW";
      color: #008ed6;
      font-size: 14px;
      display: block;
      margin-bottom: 22px; }
    .List_sect .List_of:after {
      content: url("../images/after_two.png");
      display: block;
      margin: 35px 0 73px; }
  .List_sect .for_img {
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: solid 1px #e0e0e0;
    overflow: hidden;
    color: #008ed6;
    padding-top: 31px;
    font-size: 26px;
    box-sizing: border-box;
    margin-bottom: 34px; }
  .List_sect h3 {
    color: #1a1a1a;
    font-size: 24px;
    margin-bottom: 18px; }
  .List_sect h3, .List_sect p {
    font-family: 'Source Sans Pro-Regular',SansSerif; }
  .List_sect p {
    color: #999999;
    font-size: 18px;
    max-width: 239px; }

.Telephone .container .row div .devices {
  width: 100%;
  margin: 0 55px 76px 0; }
.Telephone .container .row div h2 {
  font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
  color: #1a1a1a;
  font-size: 36px;
  padding-left: 3px; }
  .Telephone .container .row div h2:before {
    content: "DIP INTO THE DETAILS";
    display: block;
    color: #008ed6;
    font-size: 14px;
    margin-bottom: 22px;
    padding-left: -2px; }
  .Telephone .container .row div h2:after {
    content: url("../images/after_two.png");
    display: block;
    margin: 34px 0 32px;
    padding-left: 0; }
.Telephone .container .row div p {
  font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
  color: #999999;
  font-size: 18px;
  margin-bottom: 42px; }
.Telephone .container .row div ul .Cup:before {
  content: url("../images/Cup.png");
  display: inline-block;
  margin-right: 10px; }
.Telephone .container .row div ul .Mouse:before {
  content: url("../images/Mouse.png");
  display: inline-block;
  margin-right: 14px; }
.Telephone .container .row div ul .Energy:before {
  content: url("../images/Energy.png");
  display: inline-block;
  margin-right: 13px; }
.Telephone .container .row div ul .Speed:before {
  content: url("../images/Speed.png");
  display: inline-block;
  margin-right: 10px; }
.Telephone .container .row div ul li {
  margin-bottom: 18px;
  font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif;
  list-style-type: none;
  color: #1b1b1b;
  font-size: 18px; }
  .Telephone .container .row div ul li:last-child {
    margin-bottom: 0; }

.Super_easy {
  background: url("../images/IPhone.png") no-repeat right #f2f2f2;
  padding: 61px 0 65px; }
  .Super_easy .container .row .col-md-7 img {
    width: 100%; }
  .Super_easy .container .row .col-md-5 h2, .Super_easy .container .row .col-md-5 p {
    font-family: "Source Sans Pro-SemiBold", 'Source Sans Pro-Regular', 'Source Sans Pro-Bold', sans-serif; }
  .Super_easy .container .row .col-md-5 h3 {
    color: #1a1a1a;
    font-size: 36px;
    margin: 70px 0 29px; }
    .Super_easy .container .row .col-md-5 h3:before {
      color: #008ed6;
      font-size: 14px;
      content: "DIP INTO THE DETAILS";
      display: block;
      margin-bottom: 24px; }
    .Super_easy .container .row .col-md-5 h3:after {
      content: url("../images/after_two.png");
      display: block;
      margin-top: 29px; }
  .Super_easy .container .row .col-md-5 p {
    color: #999999;
    font-size: 18px; }

/*# sourceMappingURL=style.preproc.css.map */
